Repository Contributors-pi8/pi8-spbstu-labs, pull requests merged in 2024-11, with the labels that each got.

#42 Microelectronics lab 4
  Microelectronics/lab_3/zagrivnyy.aleksandr/README.md
  Microelectronics/lab_4/zagrivnyy.aleksandr/README.md
  Microelectronics/lab_4/zagrivnyy.aleksandr/dff_async.vhd
  Microelectronics/lab_4/zagrivnyy.aleksandr/point7.vhd
  Microelectronics/lab_4/zagrivnyy.aleksandr/point8.vhd
  Microelectronics/lab_4/zagrivnyy.aleksandr/point9.vhd
  Microelectronics/lab_4/zagrivnyy.aleksandr/shift_reg.vhd
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point2.bdf
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point3.bdf
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point3.bsf
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point4.bdf
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point5.bdf
  Microelectronics/lab_4/zagrivnyy.aleksandr/src/point6.bdf
Labels: Microelectronics

#39 Add check on gradle usage in labs
  .github/labeler.yml
  .github/workflows/oop.yml
Labels: Repository Changes

#38 OOP practice 9
  OOP/practice_9/arakelyan.daniil/Main.java
  OOP/practice_9/arakelyan.daniil/app.logs
  OOP/practice_9/arakelyan.daniil/file.json
  OOP/practice_9/arakelyan.daniil/file.xml
  OOP/practice_9/readme.md
Labels: Java

#43 ME lab 5
  Microelectronics/lab_5/arakelyan.daniil/jkvhd.vhd
  Microelectronics/lab_5/arakelyan.daniil/src/lab5_1.gdf
  Microelectronics/lab_5/arakelyan.daniil/src/lab5_2.gdf
  Microelectronics/lab_5/arakelyan.daniil/src/lab5_3.gdf
  Microelectronics/lab_5/arakelyan.daniil/tvhd.vhd
  Microelectronics/lab_5/arakelyan.daniil/vhdcounter.vhd
Labels: Microelectronics

#44 3 lab of Microelectronics
  Microelectronics/lab_3/rebdev.pavel/dtrigPOV.vhd
  Microelectronics/lab_3/rebdev.pavel/dtrigSTRCUCTER.vhd
  Microelectronics/lab_3/rebdev.pavel/notand.vhd
  Microelectronics/lab_3/rebdev.pavel/rstr.vhd
  Microelectronics/lab_3/rebdev.pavel/rstr1.vhd
  Microelectronics/lab_3/rebdev.pavel/src/dtrig.gdf
  Microelectronics/lab_3/rebdev.pavel/src/rs.gdf
Labels: Microelectronics

#45 CA lab7
  Computer_architecture/lab_7/strelyaev.roman/main.cpp
Labels: Computer Architecture

#46 fix folders
  .github/labeler.yml
  Maths/additional_task_2/maiia.sakovskaia/theory_ustoichivosti.pdf
Labels: Repository Changes

#47 OOP practice 10
  OOP/practice_10/arakelyan.daniil/Book.java
  OOP/practice_10/arakelyan.daniil/BooksParser.java
  OOP/practice_10/arakelyan.daniil/Main.java
  OOP/practice_10/arakelyan.daniil/file.xml
  OOP/practice_10/readme.md
Labels: Java

#48 CA lab 5
  Computer_architecture/lab_5/arakelyan.daniil/lab5.cpp
Labels: Computer Architecture

#49 Renamed .md files with tasks for lab 6 and 7
  OOP/practice_6/readme.md
  OOP/practice_7/readme.md
Labels: Java

#50 CA lab 6
  Computer_architecture/lab_6/arakelyan.daniil/LAB6.cpp
Labels: Computer Architecture

#51 Microelectronics lab 5
  Microelectronics/lab_5/zagrivnyy.aleksandr/README.md
  Microelectronics/lab_5/zagrivnyy.aleksandr/point6_jk.vhd
  Microelectronics/lab_5/zagrivnyy.aleksandr/point6_t.vhd
  Microelectronics/lab_5/zagrivnyy.aleksandr/point7.vhd
  Microelectronics/lab_5/zagrivnyy.aleksandr/src/point1.bdf
  Microelectronics/lab_5/zagrivnyy.aleksandr/src/point2.bdf
  Microelectronics/lab_5/zagrivnyy.aleksandr/src/point3.bdf
  Microelectronics/lab_5/zagrivnyy.aleksandr/src/point4.bdf
  Microelectronics/lab_5/zagrivnyy.aleksandr/src/point5.bdf
Labels: Microelectronics

#53 4 lab of Microelectronics
  Microelectronics/lab_4/rebdev.pavel/eighth.vhd
  Microelectronics/lab_4/rebdev.pavel/nineth.vhd
  Microelectronics/lab_4/rebdev.pavel/seventh.vhd
  Microelectronics/lab_4/rebdev.pavel/src/fifth.gdf
  Microelectronics/lab_4/rebdev.pavel/src/fourth.gdf
  Microelectronics/lab_4/rebdev.pavel/src/second.gdf
  Microelectronics/lab_4/rebdev.pavel/src/sixth.gdf
  Microelectronics/lab_4/rebdev.pavel/src/thrid.gdf
  Microelectronics/lab_4/rebdev.pavel/tenth.vhd
Labels: Microelectronics

#54 Microelectronics lab 6
  Microelectronics/lab_6/zagrivnyy.aleksandr/README.md
  Microelectronics/lab_6/zagrivnyy.aleksandr/point3.vhd
  Microelectronics/lab_6/zagrivnyy.aleksandr/point4.vhd
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point1.bdf
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point1.bsf
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point2.bdf
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point5.bdf
Labels: Microelectronics

#55 5 lab of Microelectronics
  Microelectronics/lab_5/rebdev.pavel/eighth.vhd
  Microelectronics/lab_5/rebdev.pavel/seventh.vhd
  Microelectronics/lab_5/rebdev.pavel/sixth.vhd
  Microelectronics/lab_5/rebdev.pavel/sixthJK.vhd
  Microelectronics/lab_5/rebdev.pavel/sixthT.vhd
  Microelectronics/lab_5/rebdev.pavel/src/fifth.gdf
  Microelectronics/lab_5/rebdev.pavel/src/first.gdf
  Microelectronics/lab_5/rebdev.pavel/src/fourth.gdf
  Microelectronics/lab_5/rebdev.pavel/src/jk.gdf
  Microelectronics/lab_5/rebdev.pavel/src/second.gdf
  Microelectronics/lab_5/rebdev.pavel/src/thirth.gdf
Labels: Microelectronics

#56 ME lab 8 and 9
  Microelectronics/lab_8/arakelyan.daniil/lab8_2.vhd
  Microelectronics/lab_8/arakelyan.daniil/lab8_2_if.vhd
  Microelectronics/lab_8/arakelyan.daniil/lab8_4.vhd
  Microelectronics/lab_8/arakelyan.daniil/lab8_7.vhd
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_1.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_1.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_2.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_3.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_3_mux_64_1.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_3_mux_64_1.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_4.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_6_dmx.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_6_dmx.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_7.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_8_epic_func_super_mega.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_8_epic_func_super_mega.scf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_8_not_epic_but_cool.gdf
  Microelectronics/lab_8/arakelyan.daniil/src/lab8_8_not_epic_but_cool.scf
  Microelectronics/lab_9/arakelyan.daniil/lab9_4.vhd
  Microelectronics/lab_9/arakelyan.daniil/lab9_5.vhd
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_1.gdf
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_1.scf
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_3.gdf
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_3.scf
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_4.scf
  Microelectronics/lab_9/arakelyan.daniil/src/lab9_5.scf
Labels: Microelectronics

#58 Fifth lab of CA
  Computer_architecture/lab_5/rebdev.pavel/1.cpp
  Computer_architecture/lab_5/rebdev.pavel/Makefile
Labels: Computer Architecture

#59 Add seventh lab of Microelectronics
  Microelectronics/lab_7/rebdev.pavel/fourth.vhd
  Microelectronics/lab_7/rebdev.pavel/seventh.vhd
  Microelectronics/lab_7/rebdev.pavel/sixth.vhd
  Microelectronics/lab_7/rebdev.pavel/src/fifth.gdf
  Microelectronics/lab_7/rebdev.pavel/src/first.gdf
  Microelectronics/lab_7/rebdev.pavel/src/second.gdf
  Microelectronics/lab_7/rebdev.pavel/third.vhd
Labels: Microelectronics

#60 Add Lab 7 to Microelectronics
  Microelectronics/lab_7/ibragimov.imil/lab7_3.vhd
  Microelectronics/lab_7/ibragimov.imil/lab7_4.vhd
  Microelectronics/lab_7/ibragimov.imil/lab7_7.vhd
  Microelectronics/lab_7/ibragimov.imil/lab7_7_decoder.vhd
  Microelectronics/lab_7/ibragimov.imil/lab7_7_encoder.vhd
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v2.gdf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v2.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v3.gdf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v3.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v4.gdf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_1v4.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_2.gdf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_2.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_3.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_4.scf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_5.gdf
  Microelectronics/lab_7/ibragimov.imil/src/lab7_5.scf
Labels: Microelectronics

#61 Add nineth lab of Microelectronics
  Microelectronics/lab_9/rebdev.pavel/fifth.vhd
  Microelectronics/lab_9/rebdev.pavel/fourth.vhd
  Microelectronics/lab_9/rebdev.pavel/src/equal.gdf
  Microelectronics/lab_9/rebdev.pavel/src/first.gdf
  Microelectronics/lab_9/rebdev.pavel/src/second.gdf
Labels: Microelectronics

#63 micro lab11 & lab10
  Microelectronics/lab_10/strelyaev.roman/lab10_5.vhd
  Microelectronics/lab_10/strelyaev.roman/lab10_7.vhd
  Microelectronics/lab_10/strelyaev.roman/src/lab10_1.gdf
  Microelectronics/lab_10/strelyaev.roman/src/lab10_3.gdf
  Microelectronics/lab_10/strelyaev.roman/src/lab10_4.gdf
  Microelectronics/lab_10/strelyaev.roman/src/lab10_4_easy.gdf
  Microelectronics/lab_10/strelyaev.roman/src/lab10_6.gdf
  Microelectronics/lab_11/strelyaev.roman/lab11_3_1.vhd
  Microelectronics/lab_11/strelyaev.roman/lab11_5_1.vhd
  Microelectronics/lab_11/strelyaev.roman/lab11_5_2.vhd
  Microelectronics/lab_11/strelyaev.roman/lab11_6.vhd
  Microelectronics/lab_11/strelyaev.roman/myxor.vhd
  Microelectronics/lab_11/strelyaev.roman/src/efeshkaaaa.gdf
  Microelectronics/lab_11/strelyaev.roman/src/lab11_1.gdf
  Microelectronics/lab_11/strelyaev.roman/src/lab11_3.gdf
  Microelectronics/lab_11/strelyaev.roman/src/lab11_4.gdf
Labels: Microelectronics

#65 Add microelectronics labs (6-9)
  Microelectronics/lab_6/zagrivnyy.aleksandr/point4.vhd
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point1.bdf
  Microelectronics/lab_6/zagrivnyy.aleksandr/src/point2.bdf
  Microelectronics/lab_7/zagrivnyy.aleksandr/decoder.vhd
  Microelectronics/lab_7/zagrivnyy.aleksandr/point3.vhd
  Microelectronics/lab_7/zagrivnyy.aleksandr/point4.vhd
  Microelectronics/lab_7/zagrivnyy.aleksandr/point6.vhd
  Microelectronics/lab_7/zagrivnyy.aleksandr/src/point1.bdf
  Microelectronics/lab_7/zagrivnyy.aleksandr/src/point1.bsf
  Microelectronics/lab_7/zagrivnyy.aleksandr/src/point2.bdf
  Microelectronics/lab_7/zagrivnyy.aleksandr/src/point5.bdf
  Microelectronics/lab_8/zagrivnyy.aleksandr/mux41_vhdl.vhd
  Microelectronics/lab_8/zagrivnyy.aleksandr/mux641_vhdl.vhd
  Microelectronics/lab_8/zagrivnyy.aleksandr/mux81_vhdl.vhd
  Microelectronics/lab_8/zagrivnyy.aleksandr/src/74153test.bdf
  Microelectronics/lab_8/zagrivnyy.aleksandr/src/dmx14.bdf
  Microelectronics/lab_8/zagrivnyy.aleksandr/src/mux41.bdf
  Microelectronics/lab_8/zagrivnyy.aleksandr/src/mux41.bsf
  Microelectronics/lab_8/zagrivnyy.aleksandr/src/xormux.bdf
  Microelectronics/lab_9/zagrivnyy.aleksandr/point4.vhd
  Microelectronics/lab_9/zagrivnyy.aleksandr/point5.vhd
  Microelectronics/lab_9/zagrivnyy.aleksandr/src/point1.bdf
  Microelectronics/lab_9/zagrivnyy.aleksandr/src/point1.bsf
  Microelectronics/lab_9/zagrivnyy.aleksandr/src/point2.bdf
Labels: Microelectronics

#66 Add 6, 7 and 8 labs of CA
  Computer_architecture/lab_6/rebdev.pavel/1.CPP
  Computer_architecture/lab_7/rebdev.pavel/1.cpp
  Computer_architecture/lab_7/rebdev.pavel/Makefile
  Computer_architecture/lab_8/rebdev.pavel/1.cpp
  Computer_architecture/lab_8/rebdev.pavel/Makefile
Labels: Computer Architecture
