Repository Contributors-pi8/pi8-spbstu-labs, pull requests merged in 2024-10, with the labels that each got.

#1 assembler lab3
  Computer architecture/lab3/krotova.maria/lab3_1.asm
  Computer architecture/lab3/krotova.maria/lab3_2.asm
Labels: fine, girl in the shower

#2 added OOP folder. Change Computer architecture dir tree
  Computer architecture/.DS_Store
  Computer architecture/lab3/.DS_Store
  Computer architecture/lab3/krotova.maria/.DS_Store
  Computer_architecture/krotova.maria/lab3/lab3_1.asm
  Computer_architecture/krotova.maria/lab3/lab3_2.asm
  OOP/arakelyan.daniil/practice_2/NumberT.java
  OOP/arakelyan.daniil/practice_3/NumberOne.java
  OOP/arakelyan.daniil/practice_4/Calculator.java
  OOP/arakelyan.daniil/practice_4/FizCalculator.java
  OOP/arakelyan.daniil/practice_4/IpCalculator.java
  OOP/arakelyan.daniil/practice_4/Main.java
  OOP/arakelyan.daniil/practice_4/SamCalculator.java
  OOP/arakelyan.daniil/practice_4/TaxCalculator.java
  OOP/arakelyan.daniil/practice_5/Attraction.java
  OOP/arakelyan.daniil/practice_5/AttractionPark.java
  OOP/arakelyan.daniil/practice_5/BigWheel.java
  OOP/arakelyan.daniil/practice_5/HauntedHouse.java
  OOP/arakelyan.daniil/practice_5/Main.java
  OOP/arakelyan.daniil/practice_5/RollerCoaster.java
  OOP/arakelyan.daniil/practice_5/User.java
Labels: fine

#3 CA lab3
  Computer_architecture/strelyaev.roman/lab3/lab3_eng.asm
Labels: dolbaeb, say my name

#4 Computer Architecture lab 3
  Computer_architecture/arakelyan.daniil/lab3/num2-m.asm
  Computer_architecture/arakelyan.daniil/lab3/num2.asm
  Computer_architecture/arakelyan.daniil/lab3/num3.asm
Labels: dolbaeb, say my name

#5 CA lab4
  Computer_architecture/strelyaev.roman/lab4/main.cpp
Labels: girl in the shower, say my name

#7 folder structure refactor, dl homeworks added
  Computer_architecture/dl_homework/v27.pdf
  Computer_architecture/lab_3/arakelyan.daniil/num2-m.asm
  Computer_architecture/lab_3/arakelyan.daniil/num2.asm
  Computer_architecture/lab_3/arakelyan.daniil/num3.asm
  Computer_architecture/lab_3/krotova.maria/lab3_1.asm
  Computer_architecture/lab_3/krotova.maria/lab3_2.asm
  Computer_architecture/lab_3/strelyaev.roman/lab3_eng.asm
  Computer_architecture/lab_4/strelyaev.roman/main.cpp
  OOP/practice_2/arakelyan.daniil/NumberT.java
  OOP/practice_3/arakelyan.daniil/NumberOne.java
  OOP/practice_4/arakelyan.daniil/Calculator.java
  OOP/practice_4/arakelyan.daniil/FizCalculator.java
  OOP/practice_4/arakelyan.daniil/IpCalculator.java
  OOP/practice_4/arakelyan.daniil/Main.java
  OOP/practice_4/arakelyan.daniil/SamCalculator.java
  OOP/practice_4/arakelyan.daniil/TaxCalculator.java
  OOP/practice_5/arakelyan.daniil/Attraction.java
  OOP/practice_5/arakelyan.daniil/AttractionPark.java
  OOP/practice_5/arakelyan.daniil/BigWheel.java
  OOP/practice_5/arakelyan.daniil/HauntedHouse.java
  OOP/practice_5/arakelyan.daniil/Main.java
  OOP/practice_5/arakelyan.daniil/RollerCoaster.java
  OOP/practice_5/arakelyan.daniil/User.java
Labels: fine, Java, Computer Architecture

#8 Update README
  README.md
Labels: repository changes

#9 CA homework & lab2
  Computer_architecture/dl_homework/v16.pdf
  Computer_architecture/lab_2/krotova.maria/lab_2.cpp
Labels: say my name, Computer Architecture

#10 CA lab 2 and README changes
  Computer_architecture/lab_2/arakelyan.daniil/LAB2-2.CPP
  Computer_architecture/lab_2/arakelyan.daniil/LAB2-3.CPP
  Computer_architecture/lab_2/arakelyan.daniil/LAB2-4.CPP
  Computer_architecture/lab_2/arakelyan.daniil/LAB2-5.CPP
  Computer_architecture/lab_2/arakelyan.daniil/SWAP_ARR.CPP
  README.md
Labels: girl in the shower, Computer Architecture

#14 OOP theory from practice 6
  OOP/practice_6/theory/notes_krotova.md
  OOP/practice_6/theory/Логирование.pdf
Labels: dolbaeb, Java

#15 Added CA dl-hw var 3
  Computer_architecture/dl_homework/v3.pdf
Labels: Computer Architecture

#13 Microelectronics lab 3
  Microelectronics/lab_3/arakelyan.daniil/lab_3_2.vhd
  Microelectronics/lab_3/arakelyan.daniil/lab_3_3.vhd
  Microelectronics/lab_3/arakelyan.daniil/lab_3_4.vhd
  Microelectronics/lab_3/arakelyan.daniil/lab_3_6.vhd
  Microelectronics/lab_3/arakelyan.daniil/lab_3_6_2.vhd
  Microelectronics/lab_3/lab_3.zip
Labels: Microelectronics

#16 OOP practices
  OOP/practice_3/krotova.maria/Main.java
  OOP/practice_4/krotova.maria/Calculator.java
  OOP/practice_4/krotova.maria/FizCalculator.java
  OOP/practice_4/krotova.maria/IpCalculator.java
  OOP/practice_4/krotova.maria/Main.java
  OOP/practice_4/krotova.maria/SamCalculator.java
  OOP/practice_4/krotova.maria/TaxCalculator.java
  OOP/practice_5/krotova.maria/Attraction.java
  OOP/practice_5/krotova.maria/Carousel.java
  OOP/practice_5/krotova.maria/FuturamaCab.java
  OOP/practice_5/krotova.maria/Main.java
  OOP/practice_5/krotova.maria/RealUser.java
  OOP/practice_5/krotova.maria/RollerCoaster.java
  OOP/practice_5/krotova.maria/User.java
  OOP/practice_5/krotova.maria/VirtualUser.java
Labels: Java

#18 Added CM homework №2
  Computational_mathematics/homework_2/rebdev.pavel/guide.md
  Computational_mathematics/homework_2/rebdev.pavel/main.cpp
Labels: Maths

#19 OOP practice 7
  .gitignore
  OOP/practice_7/arakelyan.daniil/build.gradle
  OOP/practice_7/arakelyan.daniil/gradle/wrapper/gradle-wrapper.jar
  OOP/practice_7/arakelyan.daniil/gradle/wrapper/gradle-wrapper.properties
  OOP/practice_7/arakelyan.daniil/gradlew
  OOP/practice_7/arakelyan.daniil/gradlew.bat
  OOP/practice_7/arakelyan.daniil/logs/app.log
  OOP/practice_7/arakelyan.daniil/readme.md
  OOP/practice_7/arakelyan.daniil/settings.gradle
  OOP/practice_7/arakelyan.daniil/src/main/java/express/ClassWithMethods.java
  OOP/practice_7/arakelyan.daniil/src/main/java/express/CoolClass.java
  OOP/practice_7/arakelyan.daniil/src/main/java/express/Main.java
  OOP/practice_7/arakelyan.daniil/src/main/resources/log4j2.xml
  OOP/practice_7/zadanie.md
Labels: Java

#21 OOP practice 6
  OOP/practice_6/arakelyan.daniil/build.gradle
  OOP/practice_6/arakelyan.daniil/gradle/wrapper/gradle-wrapper.jar
  OOP/practice_6/arakelyan.daniil/gradle/wrapper/gradle-wrapper.properties
  OOP/practice_6/arakelyan.daniil/gradlew
  OOP/practice_6/arakelyan.daniil/gradlew.bat
  OOP/practice_6/arakelyan.daniil/logs/app.log
  OOP/practice_6/arakelyan.daniil/name1-name2.txt
  OOP/practice_6/arakelyan.daniil/readme.md
  OOP/practice_6/arakelyan.daniil/settings.gradle
  OOP/practice_6/arakelyan.daniil/src/main/java/express/Main.java
  OOP/practice_6/arakelyan.daniil/src/main/resources/log4j2.xml
  OOP/practice_6/zadanie.md
Labels: Java

#20 OOP practice 7 added
  OOP/practice_7/strelyaev.roman/Main.java
  OOP/practice_7/strelyaev.roman/MethodClass.java
Labels: Java

#24 Readme.md error fix
  README.md
Labels: Repository Changes

#25 microelectronics zip file relocated
  Microelectronics/lab_3/arakelyan.daniil/lab_3.zip
Labels: Microelectronics

#26 Microelectronics lab 3
  Microelectronics/lab_3/zagrivnyy.aleksandr/README.md
  Microelectronics/lab_3/zagrivnyy.aleksandr/d_trigger_pov.vhd
  Microelectronics/lab_3/zagrivnyy.aleksandr/d_trigger_struct.vhd
  Microelectronics/lab_3/zagrivnyy.aleksandr/notand.vhd
  Microelectronics/lab_3/zagrivnyy.aleksandr/rstr.vhd
  Microelectronics/lab_3/zagrivnyy.aleksandr/rstr1.vhd
  Microelectronics/lab_3/zagrivnyy.aleksandr/src/d_trigger.bdf
  Microelectronics/lab_3/zagrivnyy.aleksandr/src/rs.bdf
  Microelectronics/lab_3/zagrivnyy.aleksandr/src/rs.bsf
Labels: Microelectronics

#27 Add second and thrid lab CA
  Computer_architecture/lab_2/rebdev.pavel/2.asm
  Computer_architecture/lab_2/rebdev.pavel/Makefile
  Computer_architecture/lab_3/rebdev.pavel/3.asm
  Computer_architecture/lab_3/rebdev.pavel/Makefile
Labels: Computer Architecture

#29 CA Lab 5
  Computer_architecture/lab_5/strelyaev.roman/main.cpp
Labels: Computer Architecture

#30 Computer Architecture lab 2 (finish)
  Computer_architecture/lab_2/zagrivnyy.aleksandr/2.cpp
  Computer_architecture/lab_2/zagrivnyy.aleksandr/3.cpp
  Computer_architecture/lab_2/zagrivnyy.aleksandr/4.cpp
  Computer_architecture/lab_2/zagrivnyy.aleksandr/5.cpp
  Computer_architecture/lab_2/zagrivnyy.aleksandr/CMakeLists.txt
  Computer_architecture/lab_2/zagrivnyy.aleksandr/README.md
Labels: Computer Architecture

#31 Update repository and add some automation
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/oop.yml
  CONTRIBUTING.md
  README.md
Labels: Repository Changes

#34 Fix workflows configs
  .github/labeler.yml
  .github/workflows/oop.yml
Labels: Repository Changes

#33 CA lab 4
  Computer_architecture/lab_4/arakelyan.daniil/num1.asm
  Computer_architecture/lab_4/arakelyan.daniil/num2.cpp
  Computer_architecture/lab_4/arakelyan.daniil/num3.cpp
  Computer_architecture/lab_4/arakelyan.daniil/num5.asm
  Computer_architecture/lab_4/arakelyan.daniil/readme.md
Labels: Computer Architecture

#32 4 lab of CA
  Computer_architecture/lab_4/rebdev.pavel/1.asm
  Computer_architecture/lab_4/rebdev.pavel/2.cpp
  Computer_architecture/lab_4/rebdev.pavel/3.cpp
  Computer_architecture/lab_4/rebdev.pavel/Makefile
Labels: Computer Architecture

#35 deleted .zip file in lab3 Micro.
  Microelectronics/lab_3/arakelyan.daniil/lab_3.zip
Labels: Microelectronics

#37 OOP practice 8
  OOP/practice_8/arakelyan.daniil/app/build.gradle
  OOP/practice_8/arakelyan.daniil/app/src/main/java/org/example/Data.java
  OOP/practice_8/arakelyan.daniil/app/src/main/java/org/example/Main.java
  OOP/practice_8/arakelyan.daniil/app/src/main/java/org/example/Ok.java
  OOP/practice_8/arakelyan.daniil/app/src/main/java/org/example/SaveData.java
  OOP/practice_8/arakelyan.daniil/app/src/main/java/org/example/Ugly.java
  OOP/practice_8/arakelyan.daniil/gradle/libs.versions.toml
  OOP/practice_8/arakelyan.daniil/gradle/wrapper/gradle-wrapper.jar
  OOP/practice_8/arakelyan.daniil/gradle/wrapper/gradle-wrapper.properties
  OOP/practice_8/arakelyan.daniil/gradlew
  OOP/practice_8/arakelyan.daniil/gradlew.bat
  OOP/practice_8/arakelyan.daniil/settings.gradle
  OOP/practice_8/readme.md
Labels: Java

#36 ME lab 4
  Microelectronics/lab_4/arakelyan.daniil/lab_4_2.gdf
  Microelectronics/lab_4/arakelyan.daniil/lab_4_3.gdf
  Microelectronics/lab_4/arakelyan.daniil/lab_4_4.gdf
  Microelectronics/lab_4/arakelyan.daniil/lab_4_5.gdf
  Microelectronics/lab_4/arakelyan.daniil/lab_4_6.gdf
  Microelectronics/lab_4/arakelyan.daniil/lab_4_7_1.vhd
  Microelectronics/lab_4/arakelyan.daniil/lab_4_9.vhd
  Microelectronics/lab_4/arakelyan.daniil/r2_t2_shift_r_vhdl.vhd
Labels: Microelectronics

#40 math_aditional_2_theory_ustoichivosti
  math/additional-task-2/maiia.sakovskaia/theory_ustoichivosti.pdf
Labels: Maths
